<div class="parent-container">
  <div class="child-container">
    <br>
    <h2 style="color: red; font-style: italic;"><b>Search for your recipe!!
      </b></h2><br>
    <form>
      <div class="form-group">
        <div class="form-group col-lg-6 col-lg-offset-3 input-group">
          <div class="row">
            <div class="col-md-4">
              <div class="input-group">
                <input #recipe type="text" class="form-control" placeholder="Recipe name">
                <div class="input-group-btn">
                  <button (click)="getRecipe()" class="btn btn-danger" type="button">
                    <i class="glyphicon glyphicon-search"></i>
                  </button>
                </div>
              </div>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-4">
              <div class="input-group">
                <input #place type="text" class="form-control" placeholder="Place name">
                <div class="input-group-btn">
                  <button (click)="getPlaces()" class="btn btn-danger" type="button">
                    <i class="glyphicon glyphicon-search"></i>
                  </button>
                </div>
              </div>
            </div>

          </div>

        </div>

      </div>
    </form>
  </div>
</div><br><br>
<div class="form">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="panel panel-danger col-6">
          <div class="panel-heading"><b>How to make</b></div>
          <div class="panel-body">
            <div *ngFor="let recipe of recipeList" class="list-group-item clearfix">
              <div class="pull-left">
                <h4 class="list-group-item-heading">{{ recipe.recipe.label }}</h4>
                <a href="{{recipe.recipe.url}}" class="list-group-item-text">{{ recipe.recipe.url }}</a>
              </div>

              <span class="pull-right">
                <img src="{{recipe.recipe.image}}" style="width: 70px; height: 50px;" align="center" />

              </span>

            </div>

          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="panel panel-danger col-6">
          <div class="panel-heading"><b>Where to get</b></div>
          <div class="panel-body">

            <div *ngFor="let venue of venueList" class="list-group-item clearfix">
              <div class="pull-left">
                <h4 class="list-group-item-heading">{{ venue.name }}</h4>
                <span>{{venue.location.formatted_address}}</span>
              </div>
              <br>
              <span>{{venue.location.formatted_address}}</span>
              <span class="pull-right">
                <a href="http://maps.google.com/maps?saddr={{currentLat}},{{currentLong}}
             &daddr={{venue.location.formatted_address}}">
                  <img src="../../assets/google.png" style="width: 30px; height: 30px;"></a>
              </span>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>